<div class="container1">
  <div *ngIf="!isVerificationSent" class="border rounded-4" style="padding: 20px">
    <h2 class="text-center mb-5">Login</h2>
    <form class="form1" #ResetData="ngForm" (ngSubmit)="SubmitEmail(ResetData.value)" ngNativeValidate>
      <div class="form-outline mb-4">
        <input [(ngModel)]="userEmail" type="text" name="email" class="form-control" placeholder="Email" [maxLength]="46" ngModel required/></div>
      <div class="d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-success btn-lg gradient-custom-4 text-body">Send code</button>
      </div>
    </form>
  </div>


<div *ngIf="isVerificationSent && !isThereError" >
  <div class="border rounded-4" style="padding: 20px">
  <form class="form1" #ResetData="ngForm" (ngSubmit)="verifyEmail(ResetData.value)" ngNativeValidate>
<div *ngIf="!showNewFields" >
      <div  class="form-outline mb-4">
        <div >
         <input [(ngModel)]="verificationCode" type="password" name="verificationCode" placeholder="Verification code" class="form-control" [maxLength]="8" ngModel/>
          <br>
          <p class="mb-5 d-inline">We have sent a verification code to your email. If you didn't receive it, re-send again in {{ timeLeft }} seconds </p>
          <button [disabled]="!isCountDownFinish" (click)="sendAgain()"  type="button" class="btn btn-secondary btn-sm gradient-custom-4 text-body position-relative d-inline-block">Send again</button>   </div>
      </div>
      <div class="d-flex justify-content-center">
        <button  (click)="showNewPWFields()" type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body position-relative">verify</button>
      </div>
</div>
    <div *ngIf="showNewFields" >
    <input type="password" name="password" placeholder="New password" class="form-control" [minLength]="8" [maxLength]="16" ngModel/>
      <input style="display: none;" [(ngModel)]="userEmail" type="text" name="email" class="form-control" placeholder="Email" [maxLength]="46" ngModel required/>
      <input style="display: none;" [(ngModel)]="verificationCode"  type="password" name="verificationCode" placeholder="Verification code" class="form-control" [maxLength]="8" ngModel/>

      <br><div class="d-flex align-items-center justify-content-center">
      <button type="submit" class="btn btn-success btn-lg gradient-custom-4 text-body">Submit</button>
    </div> </div> </form></div></div>



  <div *ngIf="errorMessage" class="alert-warning" style="color: red;">
    <br>
    {{ errorMessage }}
    <button class="btn btn-danger" (click)="reloadComponent()">Try again</button>
  </div></div>
