/* custom-layout.component.css */

.split-container {
  display: flex;
  height: 93vh;
  overflow: hidden;
}

.left-panel {
  background-color: black;
  overflow-y: auto;
}

.right-panel {
  background-color: white;
  overflow-y: auto;
  padding-left: 2%;
  padding-top: 2%;
}

.current-chat-history{
  padding-top: 1%;
  padding-right: 4%;
  padding-left: 2%;
  overflow-y: auto;
  height: 70vh;

}
.chat-container {
  padding-right: 3%;
  padding-left: 1%;
  position: fixed;
  bottom: 1px;
  height: 16vh;



}


.tagline {
  font-size: 14px;
  color: white;
  margin-top: 10px;
}

.link a {
  color: white;
  text-decoration: underline;
}



/* Inline elements */
.inline {
  display: inline-block;
  vertical-align: middle; /* Adjust this value based on your design */
}




