<div class="container1">
  <div class="border rounded-4" style="padding: 20px">
    <h2 class="text-center mb-5">Login</h2>
    <form class="form1" #ResetData="ngForm" (ngSubmit)="isVerificationSent ? verifyEmail(ResetData.value) : SubmitEmail(ResetData.value)" ngNativeValidate>
    <div class="form-outline mb-4">
        <input type="text" name="email" class="form-control" placeholder="Email" [maxLength]="46" ngModel required/></div>
      <div *ngIf="!isThereError">
      <div  class="form-outline mb-4">
      <div *ngIf="isVerificationSent">
          <input type="password" name="password" placeholder="Verification code" class="form-control" [minLength]="4" [maxLength]="8" ngModel required/>
        <br>
        <p class="mb-5">We have sent a verification code to your email. If you didn't received, re-send again in {{ timeLeft }} seconds</p>
          </div>
      </div>
      <div class="d-flex justify-content-center">
        <button *ngIf="!isVerificationSent" type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body position-relative">Send code</button>
        <button *ngIf="isVerificationSent" type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body position-relative">verify</button>
      </div></div>
    </form>
  </div>
  <div *ngIf="errorMessage" class="alert-warning" style="color: red;">
    <br>
    {{ errorMessage }}
    <button class="btn btn-danger" (click)="reloadComponent()">Try again</button>
   </div></div>
